<ul class="list">
  {{#each goals as |goal|}}
    <li class="item">
      <span class="cell-1">{{goal.title}}</span>
      <div class="cell-2">
        {{ui-slider
          value=goal.value
          min=0
          max=100
          tooltip='hide'
          immediateResponse=true
          mood='info'
        }}
      </div>
      <div class="cell-3">
        <button {{action (action "saveGoal" goal)}}>{{partial 'svg/icon-done'}}</button>
      </div>
    </li>
  {{/each}}
  <li class="item total">
    <div class="cell-1">Total goals: {{goals.length}}</div>
  </li>
</ul>
