<ul class="list">
  {{#each people as |person|}}
    <li class="item" {{action (action "gotoPersonGoals" person)}}>
      <div class="icon">
        <i class="avatar green">{{partial 'svg/icon-face'}}</i>
      </div>
      <div class="cell-1 name">{{person.firstName}} {{person.lastName}}</div>
      <div class="cell-2"></div>
      <div class="cell-3 score">{{person.score}}</div>
    </li>
  {{/each}}
   <li class="item total">
    <div class="cell-1">Total people: <b>{{people.length}}</b></div>
  </li>
</ul>

{{outlet}}