<h2>People</h2>

<ul class="people">
  {{#each people as |person|}}
    <li {{action (action "gotoPersonGoals" person)}}>{{person.firstName}} {{person.lastName}}</li>
  {{/each}}
</ul>

Total people: {{people.length}}

{{outlet}}